spring:
  application:
    name: project-a-backend

  profiles:
    active: dev

  flyway:
    validate-on-migrate: true

  servlet:
    multipart:
      max-file-size: 50MB
      max-request-size: 50MB

management:
  endpoints:
    web:
      exposure:
        include: health,metrics,info

server:
  servlet:
    context-path: /api/v1/
